.hero-bg{
    background-image: url(../img/hero-bg.jpg); 
    background-size: cover; 
    background-position: center;
}

.hero-two-bg {
    background-image: url(../img/office.jpg); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.apply:hover {
    color: red;
}

.hover:hover {
    cursor: auto;
    transform: scale(0.8);
}

